@model WebDoAn.Models.Category

@{
    ViewData["Title"] = "Delete";
    Layout = "~/Areas/Admin/Views/Shared/_Layout.cshtml";
}
<div class="container-fluid">
    <div class="container-fluid">
        <h5 class="card-title fw-semibold mb-4">Bạn chắc chắn muốn xóa?</h5>
        <div class="card">
            <div class="card-body">
                <h4>@Model.Name</h4>
                <dl class="row">
                    <dt class="col-sm-2 fw-semibold border-bottom-0">
                        @Html.DisplayNameFor(model => model.Name):
                    </dt>
                    <dd class="col-sm-10 fw-semibold border-bottom-0">
                        @Html.DisplayFor(model => model.Name)
                    </dd>
                    <dt class="col-sm-2 fw-semibold border-bottom-0">
                        @Html.DisplayNameFor(model => model.IsActive):
                    </dt>
                    <dd class="col-sm-10 fw-semibold border-bottom-0">
                        @Html.DisplayFor(model => model.IsActive)
                    </dd>
                </dl>
                <form asp-action="Delete">
                    <input type="hidden" asp-for="CategoryId" />
                    <input type="submit" value="Xóa" class="btn btn-danger btn-delete m-1" /> |
                    <a asp-action="Index" type="button" class="btn btn-outline-primary m-1">Quay lại</a>
                </form>
            </div>
        </div>
    </div>
</div>
