@model IEnumerable<WebDoAn.Models.Category>

@{
    ViewData["Title"] = "Index";
    Layout = "~/Areas/Admin/Views/Shared/_Layout.cshtml";
}

<div class="container-fluid">
    <div class="row">
        <div class="d-flex align-items-stretch">
            <div class="card w-100">
                <div class="card-body p-4">
                    <h5 class="card-title fw-semibold mb-4">Quản lý danh mục</h5>
                    <div id="deleteAlert" class="alert" role="alert" style="display: none;">
                        <!-- Nội dung của thông báo sẽ được cập nhật bằng mã JavaScript -->
                    </div>
                    <div class="table-responsive">
                        <table class="table text-nowrap mb-0 align-middle">
                            <thead class="text-dark fs-4">
                                <tr>
                                    <th class="border-bottom-0">
                                        <h6 class="fw-semibold mb-0">STT</h6>
                                    </th>
                                    <th class="border-bottom-0">
                                        <h6 class="fw-semibold mb-0">Tên danh mục</h6>
                                    </th>
                                    <th class="border-bottom-0">
                                        <h6 class="fw-semibold mb-0">Hiển thị</h6>
                                    </th>
                                    <th class="border-bottom-0">
                                        <h6 class="fw-semibold mb-0"></h6>
                                    </th>
                                </tr>
                            </thead>

                            <tbody>
                                @{
                                    int i = 1;
                                }
                                @foreach (var item in Model)
                                {
                                    <tr>
                                        <td class="border-bottom-0">
                                            <h6 class="fw-semibold mb-0">@(i++)</h6>
                                        </td>
                                        <td class="border-bottom-0">
                                            <h6 class="fw-semibold mb-0">@item.Name</h6>
                                        </td>
                                        <td class="border-bottom-0">
                                            <h6 class="fw-semibold mb-0">@Html.CheckBox("true", @item.IsActive)</h6>
                                        </td>
                                        <td class="border-bottom-0">
                                            <a asp-action="Edit" asp-route-id="@item.CategoryId" class="btn btn-danger btn-sm btn-edit">Sửa</a> |
                                            <a asp-action="Details" asp-route-id="@item.CategoryId" class="btn btn-info btn-sm btn-detail">Chi tiết</a> |
                                            <a asp-action="Delete" asp-route-id="@item.CategoryId" data-id="@item.CategoryId" class="btn btn-warning btn-sm btn-delete">Xóa</a>
                                            @Html.AntiForgeryToken()
                                        </td>
                                    </tr>
                                }
                            </tbody>

                        </table>
                        <p>
                            <a asp-action="Create" class="btn btn-primary mb-3">Thêm mới</a>
                        </p>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

