@model IEnumerable<WebDoAn.Models.Blog>

@{
    ViewData["Title"] = "Index";
    Layout = "~/Areas/Admin/Views/Shared/_Layout.cshtml";
}
<style>
    .truncate-text {
        white-space: nowrap;
        overflow: hidden;
        text-overflow: ellipsis;
        max-width: 125px; /* Điều chỉnh giới hạn độ dài tùy ý */
    }
</style>

<div class="container-fluid">
    <div class="row">
        <div class="d-flex align-items-stretch">
            <div class="card w-100">
                <div class="card-body p-4">
                    <h5 class="card-title fw-semibold mb-4">Quản lý Blogs</h5>
                    <div class="table-responsive">
                        <table class="table text-nowrap mb-0 align-middle">
                            <thead class="text-dark fs-4">
                                <tr>
                                    <th class="border-bottom-0">
                                        <h6 class="fw-semibold mb-0">STT</h6>
                                    </th>
                                    <th class="border-bottom-0">
                                        <h6 class="fw-semibold mb-0">Tiêu đề</h6>
                                    </th>
                                    <th class="border-bottom-0">
                                        <h6 class="fw-semibold mb-0">Alias</h6>
                                    </th>
                                    <th class="border-bottom-0">
                                        <h6 class="fw-semibold mb-0">Mô tả</h6>
                                    </th>
                                    <th class="border-bottom-0">
                                        <h6 class="fw-semibold mb-0">Chi tiết</h6>
                                    </th>
                                    <th class="border-bottom-0">
                                        <h6 class="fw-semibold mb-0">Hình ảnh</h6>
                                    </th>
                                    <th class="border-bottom-0">
                                        <h6 class="fw-semibold mb-0">Loại</h6>
                                    </th>
                                    <th class="border-bottom-0">
                                        <h6 class="fw-semibold mb-0">Ngày đăng</h6>
                                    </th>
                                    <th class="border-bottom-0">
                                        <h6 class="fw-semibold mb-0">Người tạo</h6>
                                    </th>
                                    <th class="border-bottom-0">
                                        <h6 class="fw-semibold mb-0">Tags</h6>
                                    </th>
                                    <th class="border-bottom-0">
                                        <h6 class="fw-semibold mb-0">Hiển thị</h6>
                                    </th>
                                    <th class="border-bottom-0">
                                        <h6 class="fw-semibold mb-0"></h6>
                                    </th>
                                </tr>
                            </thead>

                            <tbody>
                                @{
                                    int i = 1;
                                }
                                @foreach (var item in Model)
                                {
                                    <tr>
                                        <td class="border-bottom-0">
                                            <h6 class="fw-semibold mb-0">@(i++)</h6>
                                        </td>
                                        <td class="border-bottom-0">
                                            <h6 class="fw-semibold mb-0 truncate-text">@item.Title</h6>
                                        </td>

                                        <td class="border-bottom-0">
                                            <h6 class="fw-semibold mb-0 truncate-text">@item.Alias</h6>
                                        </td>
                                        <td class="border-bottom-0">
                                            <h6 class="fw-semibold mb-0 truncate-text">@item.Description</h6>
                                        </td>
                                        <td class="border-bottom-0">
                                            <h6 class="fw-semibold mb-0 truncate-text">@item.Detail</h6>
                                        </td>
                                        <td class="border-bottom-0">
                                            <img style="max-width: 50px;height: auto;" src="@item.Image" />
                                        </td>
                                        <td class="border-bottom-0">
                                            <h6 class="fw-semibold mb-0">@item.Category.Name</h6>
                                        </td>
                                        <td class="border-bottom-0">
                                            <h6 class="fw-semibold mb-0">@item.CreatedDate.ToString("dd/MM/yyyy")</h6>
                                        </td>
                                        <td class="border-bottom-0">
                                            <h6 class="fw-semibold mb-0">@item.CreatedBy</h6>
                                        </td>
                                        <td class="border-bottom-0">
                                            <h6 class="fw-semibold mb-0">@item.Tags</h6>
                                        </td>
                                        <td class="border-bottom-0">
                                            <h6 class="fw-semibold mb-0">@Html.CheckBox("true", @item.IsActive)</h6>
                                        </td>
                                        <td class="border-bottom-0">
                                            <a asp-action="Edit" asp-route-id="@item.BlogID" class="btn btn-danger btn-sm">Sửa</a> |
                                            <a asp-action="Details" asp-route-id="@item.BlogID" class="btn btn-info btn-sm">Chi tiết</a> |
                                            <a asp-action="Delete" asp-route-id="@item.BlogID" data-id="@item.BlogID" class="btn btn-warning btn-sm">Xóa</a>
                                        </td>
                                    </tr>
                                }
                            </tbody>
                        </table>
                        <p>
                            <a asp-action="Create" class="btn btn-primary mb-3">Thêm mới</a>
                        </p>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>