@model IEnumerable<WebDoAn.Models.Menu>

@{
    ViewData["Title"] = "Index";
    Layout = "~/Areas/Admin/Views/Shared/_Layout.cshtml";
}



<div class="container-fluid">
    <div class=" d-flex align-items-stretch">
        <div class="card">
            <div class="card-body">
                <h5 class="card-title fw-semibold">Quản lí Menu</h5>
                <div class="table-responsive">
                    <table class="table text-nowrap mb-0 align-middle">
                        <table class="table">
                            <thead class="text-dark fs-4">
                                <tr>
                                    <th class="border-bottom-0">STT</th>
                                    <th class="border-bottom-0">Menu</th>
                                    <th class="border-bottom-0">Hiển thị</th>
                                    <th class="border-bottom-0">Controller</th>
                                    <th class="border-bottom-0">Action</th>
                                    <th class="border-bottom-0">Level</th>
                                    <th class="border-bottom-0">ParentID</th>
                                    <th class="border-bottom-0">MenuOrder</th>
                                    <th class="border-bottom-0">Vị trí</th>
                                    <th class="border-bottom-0"></th>
                                </tr>
                            </thead>
                            <tbody>
                                @{
                                    int i = 1;
                                }
                                
                                @foreach (var item in Model)
                                {
                                    <tr>
                                        <td class="border-bottom-0" style="text-align: center">@(i++)</td>
                                        <td class="border-bottom-0" style="text-align: center"> @item.MenuName</td>
                                        <td class="border-bottom-0" style="text-align: center"> @Html.CheckBox("true", @item.IsActive)</td>
                                        <td class="border-bottom-0" style="text-align: center"> @item.ControllerName</td>
                                        <td class="border-bottom-0" style="text-align: center"> @item.ActionName</td>
                                        <td class="border-bottom-0" style="text-align: center"> @item.Levels</td>
                                        <td class="border-bottom-0" style="text-align: center"> @item.ParentID</td>
                                        <td class="border-bottom-0" style="text-align: center"> @item.MenuOrder</td>
                                        <td class="border-bottom-0" style="text-align: center"> @item.Position</td>
                                        <td class="border-bottom-0" style="text-align: center">
                                            <a asp-action="Edit" asp-route-id="@item.MenuID" class="btn btn-danger btn-sm">Edit</a> |
                                            <a asp-action="Delete" asp-route-id="@item.MenuID" data-id="@item.MenuID" class="btn btn-warning btn-sm">Delete</a>
                                        </td>
                                    </tr>
                                }
                            </tbody>
                        </table>
                    </table>
                </div>
                <p>
                    <a asp-action="Create" class="btn btn-primary mb-3">Thêm mới</a>
                </p>
            </div>
        </div>
    </div>
</div>


