@model Project
@{
    ViewData["Title"] = Model.ProjectName.ToString();
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>@ViewBag.Title</title>
</head>
<body>
    <main id="main">

        <!-- ======= Our Portfolio Section ======= -->
        <section class="breadcrumbs">
            <div class="container">

                <div class="d-flex justify-content-between align-items-center">
                    <h2>Dự án</h2>
                    <ol>
                        <li><a href="~/Home">Trang chủ</a></li>
                        <li><a href="~/Projects">Dự án</a></li>
                        <li>@Model.ProjectName</li>
                    </ol>
                </div>

            </div>
        </section><!-- End Our Portfolio Section -->
        <!-- ======= Portfolio Details Section ======= -->
        <section id="portfolio-details" class="portfolio-details">
            <div class="container">

                <div class="row gy-4">

                    <div class="col-lg-8">
                        <div class="portfolio-details-slider swiper">
                            <div class="swiper-wrapper align-items-center">

                                <div class="swiper-slide">
                                    <img src="~/img/portfolio/portfolio-1.jpg" alt="">
                                </div>

                                <div class="swiper-slide">
                                    <img src="~/img/portfolio/portfolio-2.jpg" alt="">
                                </div>

                                <div class="swiper-slide">
                                    <img src="~/img/portfolio/portfolio-3.jpg" alt="">
                                </div>

                            </div>
                            <div class="swiper-pagination"></div>
                        </div>
                    </div>

                    <div class="col-lg-4">
                        <div class="portfolio-info">
                            <h3>@Model.ProjectName</h3>
                            <ul>
                                <li><strong>Category</strong>: @Model.Category</li>
                                <li><strong>Client</strong>: @Model.Client </li>
                                <li><strong>Project date</strong>: @Model.CreatedDate.ToString("dd/mm/yyyy")</li>
                                <li><strong>Project URL</strong>: <a href="#">@Model.Link</a></li>
                            </ul>
                        </div>
                        <div class="portfolio-description">
                            <h2>@Model.Title</h2>
                            <p>
                                @Model.Detail
                            </p>
                        </div>
                    </div>

                </div>

            </div>
        </section><!-- End Portfolio Details Section -->

    </main><!-- End #main -->
</body>
</html>

